.container-about {
	padding:50px;
	background-color:white;
	opacity:0.8;
	border-radius: 5px;
	border:1px solid ;
}

h5 {
	text-align: center;
}

p {
	line-height: 2px;
}

#footer-about {
	text-align: center;
	margin-top: 100px;
}